.review {
    min-height: 792px;
    position: relative;
    left: -10px;

    .review__title {
        margin-bottom: 48px;


        font-family: 'Clash Display';
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        line-height: 120%;
        /* or 86px */

        text-align: center;

        /* Clean */

        color: #FFFFFF;
    }

    .review__arrows {
        height: 40px;
        display: flex;
        gap: 25px;
        justify-content: flex-end;
        margin-bottom: 16px;
        margin-right: 3px;

        .arrows__item {
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.05);
            background: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19.5L1.5 10L11 0.5' stroke='white'/%3E%3C/svg%3E%0A"),
                linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) padding-box,
                linear-gradient(#0C102D, #0C102D) padding-box,
                linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%) border-box;
            border: 1px solid transparent;
            ;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 8px;
        }

        .arrows__item:last-of-type {
            transform: rotate(180deg);
        }
    }


    .review__list {
        list-style: none;
        display: flex;
        position: relative;
        padding-left: 418px;
        gap: 24px;

        .list__item {
            order: 1;


            .item__index {
                display: none;
            }

            .item__image {
                background: #FFFFFF;
                backdrop-filter: blur(5px);
                /* Note: backdrop-filter has minimal browser support */
                object-fit: cover;
                border-radius: 16px;
                width: 184px;
                height: 422px;
                background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%) border-box;

                border: 2px solid transparent;
                display: block;
                clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), calc(100% - 35px) 100%, 0 100%, 0 0);
            }



            .item__title {
                display: none;


            }

            .item__description {
                display: none;



            }











            &.active {
                order: 0;

                .item__index {
                    display: block;
                    position: absolute;
                    top: -55px;
                    left: 420px;
                    font-family: 'Clash Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 120%;
                    /* identical to box height, or 29px */

                    text-align: center;

                    /* Clean */

                    color: #FFFFFF;

                    span {
                        font-size: 16px;
                        vertical-align: super;
                    }
                }

                .item__image {
                    width: 392px;
                    height: 422px;
                    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 70px), calc(100% - 70px) 100%, 0 100%, 0 0);
                }

                .item__title {
                    display: block;
                    position: absolute;
                    top: 68px;
                    left: 2px;


                    font-family: 'Clash Display';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 120%;
                    /* identical to box height, or 29px */


                    /* Clean */

                    color: #FFFFFF;
                }

                .item__description {
                    display: block;
                    width: 392px;
                    position: absolute;
                    top: 115px;
                    left: 2px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    /* or 22px */


                    /* Clean */

                    color: #FFFFFF;
                }
            }
        }

        .list__item:first-child {
            .item__image {
                object-position: 52% 50%;
            }
        }

        .list__item:nth-child(2) {
            .item__image {
                object-position: 65% 50%;

            }
        }

        .list__item:last-child {
            .item__image {
                object-position: 90% 50%;
            }
        }


    }













































































































    @media (min-width: 1921px) {
        /* 1920px and more — Extra large screens,  TV */
    }

    @media (max-width: 1920px) {

        /* 1201px — 1920px: Extra large screens,  TV */
        padding: 0 15px;

        .review__content {
            width: 1170px;
            margin: 0 auto;

            .review__aside {
                width: 496px;
                text-align: center;

                .aside__description {
                    margin: 0 auto;
                }

                .aside__image {
                    top: -900px;
                    left: -400px;
                }

            }

            .review__list {
                width: 500px;

                .list__item {
                    width: 100%;
                }
            }


        }
    }

    @media (max-width: 1200px) {
        /* 1025px — 1200px: Desktops, large screens */
        padding: 0 15px;




        .review__content {
            width: 995px;
            margin: 0 auto;
            flex-wrap: nowrap;


            .review__aside {
                width: 30%;
                position: relative;
                height: 400px;

                .aside__description {
                    text-align: center;
                    width: 100%;
                }

                .aside__image {
                    position: absolute;
                    width: 1000px;
                    left: -200px;
                    top: -450px;
                }
            }

            .review__list {
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;

            }
        }







    }

    @media (max-width: 1024px) {
        /* 769px — 1024px: Small screens, laptops */


        .review__content {
            width: 100%;
            justify-content: center;
            flex-wrap: nowrap;

            .review__aside {
                width: 30%;
                position: relative;
                height: 400px;

                .aside__description {
                    text-align: center;
                    width: 100%;
                }

                .aside__image {
                    position: absolute;
                    width: 1000px;
                    left: -200px;
                    top: -450px;
                }
            }

            .review__list {

                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;

            }
        }
    }

    @media (max-width: 768px) {
        /* 481px — 768px: iPads,Tablets */
        margin-bottom: 140px;



        .review__content {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            .review__aside {
                width: 100%;
                position: relative;
                height: 400px;

                .aside__description {
                    text-align: center;
                    width: 100%;
                }

                .aside__image {
                    position: absolute;
                    width: 1000px;
                    left: 0px;
                    top: -450px;
                }
            }

            .review__list {

                display: flex;
                flex-direction: column;
                align-items: center;
                // gap: 40px;
                padding: 0;

            }
        }


    }

    @media (max-width: 480px) {

        height: auto;
        margin-bottom: 100px;
        padding: 0 10px;

        .review__title {
            font-size: 45px;
            width: auto;
        }


        .review__arrows {
            justify-content: center;
        }

        .review__list {
            padding-left: 0;
             flex-wrap: wrap;
            height: auto;
            justify-content: center;

            .list__item {
                width: 150px;
                height: 300px;
                .item__image{width: 150px;
                    height: 300px;}
 

                &.active {
                    width: 300px;
                    height: min-content;
 
                    order: 0;

                    .item__index {
                    position: static;
 
                      

                      
                    }

                    .item__image {
                        width: 300px;
                        height: 300px;
                        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 70px), calc(100% - 70px) 100%, 0 100%, 0 0);
                    }

                    .item__title {
                position: static;width: 90%; margin: 0 auto ;margin-bottom: 10px;
                       

 
                    }

                    .item__description {
position: static; width: 90%; margin: 0 auto;
margin-bottom: 30px;
                      

                      }
                }
            }

        }




    }

}