.technologies {
    min-height: 700px;
    padding-left: 11px;

    .technologies__title {
        width: 543px;
        margin: 0 auto;
        margin-bottom: 15px;

        font-family: 'Clash Display';
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        line-height: 120%;
        /* or 86px */
        text-align: center;

        /* Clean */

        color: #FFFFFF;
    }

    .technologies__subtitle {
        width: 443px;
        margin: 0 auto;
        margin-bottom: 53px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */

        text-align: center;

        /* Clean */

        color: #FFFFFF;
    }


    .technologies__list {
        gap: 24px;
        display: flex;
        justify-content: center;
        list-style: none;

        .list__item {
            width: 182px;
            height: 230px;
            padding-top: 24px;


            backdrop-filter: blur(5px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 16px;
            background:
                linear-gradient(-39deg, transparent 0 10%, rgba(255, 255, 255, 0.051) 10% 100%) padding-box,
                linear-gradient(-39deg, transparent 0 10%, #0C102D 10% 100%) padding-box,
                linear-gradient(141deg, transparent 0, rgba(21, 191, 253, 0.7) 5%, rgba(156, 55, 253, 0.7) 90%, transparent 90% 100%) border-box,
                linear-gradient(-39deg, transparent 0 10%, #aeb0c3 10% 100%) border-box;
            border: 1px solid transparent;




            .item__image {
                object-fit: cover;
                width: 162px;
                height: 136px;
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
            }

            .item__title {



                font-family: 'Clash Display';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 120%;
                /* identical to box height, or 29px */

                text-align: center;

                /* Clean */

                color: #FFFFFF;
            }





        }
    }



































    @media (min-width: 1921px) {
        /* 1920px and more — Extra large screens,  TV */
    }

    @media (max-width: 1920px) {


        /* 1201px — 1920px: Extra large screens,  TV */
        .technologies__list {
            flex-wrap: wrap;

        }
    }

    @media (max-width: 1200px) {
        /* 1025px — 1200px: Desktops, large screens */
    }

    @media (max-width: 1024px) {
        /* 769px — 1024px: Small screens, laptops */
    }

    @media (max-width: 768px) {
        /* 481px — 768px: iPads,Tablets */margin-bottom: 100px;
    }

    @media (max-width: 480px) {

        height: auto;
        margin-bottom: 100px;
        padding: 0 10px;

        .technologies__title {
            font-size: 45px;
            width: auto;
        }
        .technologies__subtitle {
            width: auto;
        }



        .technologies__list {



            .list__item:nth-child(n) {
                width: min-content;
                padding-left: 10px;
                padding-right: 10px;

                .item__image {
                    width: 120px;
                    height: 100px;

                }
            }
        }

    }
}