@import url(../public/fonts/Inter/inter.css);
@import url(../public/fonts/Clash-display/css/clash-display.css);
@import url(../public/fonts/roboto/roboto.css);


.page {

  background: 
  /* //heading */
  no-repeat 30.3% 794px url('/images/background/star.svg'),
  no-repeat 51.3% 738px url('/images/background/star.svg'),
  no-repeat 65.35% 751px url('/images/background/star.svg'),
  no-repeat 95.5% 593px url('/images/background/star.png'),

  no-repeat 0 170px  url('/images/background/ellipse.png'),
  no-repeat 125%  40px  url('/images/background/ellipse.png'),
  no-repeat 0 435px   url('/images/background/rectangle.png'),
  no-repeat 0 0  url('/images/background/programmer.png'),

 


  /* About Us */
  no-repeat 17.85% 1137px url('/images/background/Star-white.svg'),
  no-repeat 63.8% 1299px url('/images/background/star-small.svg'),
  no-repeat 70.8% 1448px url('/images/background/star.svg'),
  no-repeat 83.85% 1527px url('/images/background/star-big.svg'),
  no-repeat 93.1% 1162px url('/images/background/Front-End.svg'),
  no-repeat 125% 930px url('/images/background/ellipse.png'),

  /* //technologies */
  no-repeat 30.5% 2260px url('/images/background/star-medium.svg'),
  no-repeat 0 1500px url('/images/background/ellipse.png'),

  /* Steps */
  no-repeat 20.3% 2679px url('/images/background/star.svg'),
  no-repeat 85.25% 2696px url('/images/background/star-medium.svg'),
  no-repeat 63.25% 2855px url('/images/background/star.svg'),
  no-repeat 79.35% 3087px url('/images/background/star.svg'),
  no-repeat 0 2350px url('/images/background/ellipse.png'),

  /* questions */
  /* no-repeat 85.25% 2696px url('/images/background/star-medium.svg'),  */
  no-repeat 65.25% 4380px url('/images/background/star-small.svg'), 
  no-repeat 125% 3350px url('/images/background/ellipse.png'),
  no-repeat -40px 4100px url('/images/background/ellipse.png'),

  /* //review */
  no-repeat 87.85% 4879px url('/images/background/star-medium.svg'),
  no-repeat 125% 4400px url('/images/background/ellipse.png'),

    /* //gallery */
  no-repeat 67.7% 6027px url('/images/background/star-medium.svg'),
  no-repeat 57.5% 6178px url('/images/background/star-small.svg'),
  no-repeat 30.0% 6275px url('/images/background/star-small.svg'),
  no-repeat -110px 5500px url('/images/background/ellipse.png'),
  no-repeat 125% 5800px url('/images/background/ellipse.png'),

  #0C102D;
  color: white;
  width: 100%;

}
.main {
  width: 1230px;
  margin: 0 auto;
 
}


@media (min-width: 1921px) {

  /* 1920px and more — Extra large screens,  TV */
  .main {
         width: 1230px;
    }
}

@media (max-width: 1920px) {

  /* 1201px — 1920px: Extra large screens,  TV */
.main {
    width: auto;
  }
}

@media (max-width: 1200px) {

  /* 1025px — 1200px: Desktops, large screens */
  .main {
      width: auto;
    }
}

@media (max-width: 1024px) {

  /* 769px — 1024px: Small screens, laptops */
  .main {
      width: auto;
    }
}






@media (max-width: 768px) {

  /* 481px — 768px: iPads,Tablets */
  .main {
      width: auto;
    }
}

@media (max-width: 480px) {

  /* 320px — 480px: Mobile devices */
.main{
  width: auto;
}
}